body {
    background-color: #3c746b;
}
.hover {
    cursor: pointer;
}
.container {
    position: relative;
    width: 1170px !important;
}
.container .content {
    margin-left: 220px;
    height: 768px;
}
.container .content .child-list {
    padding-top: 55px;
}
.container .content .child-list .row {
    height: 110px;
    margin: 0 10px;
    padding: 0 30px;
    overflow: hidden;
    position: relative;
}
.container .content .child-list .row .row-scroller {
    margin-left: 0px;
}
.container .content .child-list .row a.left-scroll {
    position: absolute;
    top: 37px;
    left: 0px;
    width: 28px;
    height: 35px;
    background-image: url('../images/sipka_lava.png');
}
.container .content .child-list .row a.left-scroll:hover {
    background-image: url('../images/sipka_lava_zvyraznena.png');
}
.container .content .child-list .row a.right-scroll {
    position: absolute;
    top: 37px;
    right: 0px;
    width: 28px;
    height: 35px;
    background-image: url('../images/sipka_prava.png');
}
.container .content .child-list .row a.right-scroll:hover {
    background-image: url('../images/sipka_prava_zvyraznena.png');
}
.container .content .child-list .row .child-page {
    height: 100px;
    margin: 5px 10px;
    display: inline-block;
}
.container .content .back-img {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.container .content .gallery {
    width: 77px;
    height: 71px;
    background-image: url('../images/fotacik.png');
    position: absolute;
    top: 80px;
    left: 235px;
}
.container .content .gallery:hover {
    background-image: url('../images/fotacik_zvyrazneny.png');
}
.container .content .gallery-back {
    width: 48px;
    height: 47px;
    background-image: url('../images/minus.png');
    position: absolute;
    top: 0px;
    right: 0px;
}
.container .content .gallery-back:hover {
    background-image: url('../images/minus_zvyrazneny.png');
}
.container .content .navigation {
    width: 28px;
    height: 35px;
    position: absolute;
    top: 300px;
}
.container .content .navigation.next {
    left: 1125px;
    background-image: url('../images/sipka_prava.png');
}
.container .content .navigation.next:hover {
    background-image: url('../images/sipka_prava_zvyraznena.png');
}
.container .content .navigation.prev {
    left: 217px;
    background-image: url('../images/sipka_lava.png');
}
.container .content .navigation.prev:hover {
    background-image: url('../images/sipka_lava_zvyraznena.png');
}
.container .header {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 5px;
    left: 5px;
    color: white;
}
.container .header .folder {
    margin: 10px;
    width: 36px;
    height: 30px;
    background-image: url('../images/folder.gif');
}
.container .header .title {
    height: 27px;
    width: 100%;
    padding: 0 0 5px 0;
    border-bottom: 2px solid white;
}
.container .header .description {
    width: 100%;
    padding: 5px 0;
}
.container .header .link {
    width: 100%;
}
.container .back-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 51px;
    height: 50px;
    background-image: url('../images/icon_cancel.gif');
}
.container .back-button:hover {
    background-image: url('../images/icon_cancel_hover.gif');
}
.container .admin-page {
    padding: 3px 0 3px 0;
}
.container .admin-page > .title {
    font-size: 120%;
    font-weight: bold;
    padding: 0 10px;
}
.container .admin-page .url {
    font-family: "Courier New", Courier, monospace;
    font-size: 110%;
    padding: 0 5px;
}
.container .admin-page .admin-child-pages {
    margin: 0 0 0 40px;
}
.container .admin-page .admin-child-pages .admin-child-row {
    padding-bottom: 10px;
}
.container .admin-page .admin-page-content .title {
    padding: 0 10px;
    font-size: 110%;
}
.container .admin-image-preview {
    text-align: center;
}
.container .admin-image-preview img {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}
.container .admin-page-images {
    padding: 5px 0;
}
.container .admin-page-images img {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}
.container .has-error .help-block,
.container .has-error .control-label,
.container .has-error .radio,
.container .has-error .checkbox,
.container .has-error .radio-inline,
.container .has-error .checkbox-inline {
    color: #ffffff;
}
.container .text-bold {
    font-weight: bold;
}
