body {
  background-color: #3c746b;
}
.hover {
  cursor: pointer;
}
.container {
  position: relative;
}
.container .content {
  margin-left: 220px;
  height: 768px;
}
.container .content .child-list {
  padding-top: 50px;
}
.container .content .child-list .row {
  height: 100px;
  margin: 5px;
  clear: both;
}
.container .content .child-list .child-page {
  height: 100px;
  float: left;
  margin: 5px 10px;
}
.container .content .back-img {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.container .header {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
}
.container .header .folder {
  margin: 10px;
  width: 36px;
  height: 30px;
  background-image: url('../images/folder.gif');
}
.container .header .title {
  height: 27px;
  width: 100%;
  padding: 0 0 5px 0;
  border-bottom: 2px solid white;
}
.container .header .description {
  width: 100%;
  padding: 5px 0;
}
.container .header .link {
  width: 100%;
}
.container .back-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 51px;
  height: 50px;
  background-image: url('../images/icon_cancel.gif');
}
.container .back-button:hover {
  background-image: url('../images/icon_cancel_hover.gif');
}
.container .admin-page {
  padding: 3px 0 3px 0;
}
.container .admin-page > .title {
  font-size: 120%;
  font-weight: bold;
  padding: 0 10px;
}
.container .admin-page .url {
  font-family: "Courier New", Courier, monospace;
  font-size: 110%;
  padding: 0 5px;
}
.container .admin-page .admin-child-pages {
  margin: 0 0 0 40px;
}
.container .admin-page .admin-child-pages .admin-child-row {
  padding-bottom: 10px;
}
.container .admin-page .admin-page-content .title {
  padding: 0 10px;
  font-size: 110%;
}
.container .admin-image-preview {
  text-align: center;
}
.container .admin-image-preview img {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}
.container .admin-page-images {
  padding: 5px 0;
}
.container .admin-page-images img {
  margin: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}
.container .has-error .help-block,
.container .has-error .control-label,
.container .has-error .radio,
.container .has-error .checkbox,
.container .has-error .radio-inline,
.container .has-error .checkbox-inline {
  color: #ffffff;
}
.container .text-bold {
  font-weight: bold;
}
