{% extends "admin/admin.html.twig" %}

{% block adminTitle %}Úprava obrázku <small>{{ entity.title }}</small>{% endblock %}
{% block adminContent %}
    {{ form(form) }}

    {% if entity.image is not empty %}
        <div class="text-center admin-image-preview">
            <img
                src="data:image/png;base64,{{ entity.image.image }}"
                alt="{{ entity.title }}"
            />
        </div>
    {% endif %}
{% endblock %}
