{% extends "MonterArtBundle:Default:layout.html.twig" %}

{% block body -%}
<div class="container">
    <div class="page-header">
        <h1>Nov치 str치nka</h1>
    </div>

    <div class="pull-right">
        <div class="btn-group">
            <a href="{{ path('admin_page') }}" class="btn btn-success">
                <span class="glyphicon glyphicon-th-list"></span> zoznam
            </a>
            <a href="{{ path('logout') }}" class="btn btn-warning">
                <span class="glyphicon glyphicon-log-out"></span> odhl치si콘
            </a>
        </div>
    </div>

    {{ form(form, { 'attr' : {'role' : 'form', 'class' : 'form-horizontal' } } ) }}

</div>
{% endblock %}
